@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  cursor: none; /* Hide the default cursor */
}

/* Custom scrollbar for a more cyberpunk feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c3e;
}

::-webkit-scrollbar-thumb {
  background: #ff49db;
}

::-webkit-scrollbar-thumb:hover {
  background: #32f0ff;
}

.custom-cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #32f0ff;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.custom-cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid #ff49db;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-out;
}